section{
    height: 700px;
    
    
}

.top{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}

.bottom{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    text-align: center;


    
}

.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 40%;
    margin: 4%;
    padding: 1%;
    float: left;
   
}

.half-width img{
    width:100%;
    height: 500px;
}

.half-width h1{
    font-size: 50px;
}
#name{
    font-size: 75px;
    color: rgb(243, 26, 142);
}
.middle{

    margin-top: 200px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(248, 102, 127),rgb(241, 47, 151)); 
    padding: 10px 10px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
 
}
.work{
    width: 33%;
    float: left;
    margin-top: 5%;
   
}
#latest-work{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.message{
   background-image:linear-gradient(rgb(228, 61, 116),rgb(252, 54, 87)) ;
    color: white;
    border-radius: 5px;
    padding: 7px;
    width: 35%;
  position: relative;
  left: 33%;
  margin-top: 5%;
}
footer{
    text-align: center;
    font-size: 12px;
    color: gray;
}
.imageResponsive{
    height: 100%;
    width: 100%;
}